In [1]:
for i in range(6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()
# PATTERN 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [47]:
c='A'
for i in range(5):
    c='A'
    for j in range(0,i+1):
        print(c,end=" ")
        c=chr(ord(c) + 1)
    print()
# PATTERN 2

A
A B
A B C
A B C D
A B C D E

In [71]:
for i in range(6):
    for j in range(1,i+1):
        print("*",end=' ')
    print()
# PATTERN 3

*
* *
* * *
* * * *
* * * * *

In [13]:
for i in range(6):
    for j in range(i):
        print(i,end=' ')
    print()
# PATTERN 4

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [39]:
c='A'
for i in range(5):
    for j in range(0,i+1):
        print(c,end=" ")
    print()
    c=chr(ord(c) + 1)
# PATTERN 5

A
B B
C C C
D D D D
E E E E E

In [45]:
for i in range(6):
    for k in range(abs(5-i)):
        print(" ",end=' ')
    for j in range(1,i+1):
        print("*",end=' ')
    print()
# PATTERN 6

        *
      * *
    * * *
  * * * *
* * * * *

In [61]:
for i in range(6):
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()
# PATTERN 7

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [65]:
for i in range(6):
    for k in range(abs(5-i)):
        print(end=' ')
    for j in range(1,i+1):
        print(j+abs(5-i),end=' ')
    print()
# PATTERN 8

    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [66]:
for i in range(6):
    c='A'
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1,i+1):
        print(c,end=' ')
        c=chr(ord(c) + 1)
    print()
# PATTERN 9

     A
    A B
   A B C
  A B C D
 A B C D E

In [70]:
for i in range(6):
    c='G'
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1,i+1):
        print(c,end=' ')
        c=chr(ord(c) - abs(6-i))
    print()
# TODO: SOlVE THIS BS PATTERN 10

     G
    G C
   G D A
  G E C A
 G F E D C

In [53]:
for i in range(5,0,-1):
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()
# I DISCOVERDED THIS hehe

 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [72]:
for i in range(1,10,2):
    for k in range(abs(10-i)):
        print(end=' ')
    for j in range(1,i+1):
        print("*",end=' ')
    print()
# PATTERN 11

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [74]:
for i in range(6):
    for k in range(abs(5-i)):
        print(end=' ')
    for j in range(1,i+1):
        print(i,end=' ')
    print()
# PATTERN 12

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [84]:
c='A'
for i in range(5):
    for k in range(abs(5-i)):
        print(end=' ')
    for j in range(i+1):
        print(c,end=' ')
    c=chr(ord(c)+1)
    print()
# PATTERN 13

     A
    B B
   C C C
  D D D D
 E E E E E

In [55]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()
#Pattern 14

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [89]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=' ')
    print()
#Pattern 15

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [6]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()
#Pattern 16

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [7]:
k=1
for i in range(6):
    for j in range(1,i+1):
        print(k,end=' ')
        k+=1
    print()
# PATTERN 17

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [9]:
for i in range(6,0,-1):
    k='A'
    for j in range(1,i):
        print(k,end=' ')
        k=chr(ord(k)+1)
    print()
#Pattern 18

A B C D E
A B C D
A B C
A B
A

In [10]:
for i in range(6,0,-1):
    k='E'
    for j in range(1,i):
        print(k,end=' ')
        k=chr(ord(k)-1)
    print()
#Pattern 19

E D C B A
E D C B
E D C
E D
E

In [11]:
for i in range(6):
    k="E"
    for j in range(1,i+1):
        print(k,end=' ')
        k=chr(ord(k)-1)
    print()
# PATTERN 20

E
E D
E D C
E D C B
E D C B A

In [12]:
k="A"
for i in range(6):
    for j in range(1,i+1):
        print(k,end=' ')
        k=chr(ord(k)+1)
    print()
# PATTERN 21

A
B C
D E F
G H I J
K L M N O

In [25]:
from math import factorial as fact
for i in range(5):
    for k in range(abs(5-i)):
        print(end=' ')
    for j in range(i+1):
        ncr= fact(i)//(fact(i-j)*(fact(j)))
        print(ncr,end=' ')
    print()
#Pattern 22

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [27]:
a="@" # Unicode value before A
for i in range(5):
    for k in range(abs(5-i)):
        print(end=' ')
    for j in range(i+1):
        ncr= fact(i)//(fact(i-j)*(fact(j)))
        print(chr(ord(a)+ncr),end=' ')
    print()
#Pattern 23

     A
    A A
   A B A
  A C C A
 A D F D A

In [32]:
a="@"
for i in range(6):
    for j in range(1,i+1):
        print(chr(ord(a)+j),end=' ')
    print()
for i in range(5,0,-1):
    for j in range(1,i):
        print(chr(ord(a)+j),end=' ')
    print()
#Pattern 25

A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [7]:
n="@"
for i in range(1,5):
    for k in range(abs(6-i)):
        print(end='  ')
    for j in range(1,i+1):
        print(chr(ord(n)+j),end=' ')
    for j in range(i-1,0,-1):
        print(chr(ord(n)+j), end=' ')
    print()
#Pattern 34

          A
        A B A
      A B C B A
    A B C D C B A

In [34]:
for i in range(6):
    for j in range(1,i+1):
        print("*",end=' ')
    print()
for i in range(5,0,-1):
    for j in range(1,i):
        print("*",end=' ')
    print()
#Pattern 26

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [46]:
for i in range(5):
    for k in range(abs(4-i)):
        print(" ",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()
for i in range(4,0,-1):
    for k in range(5,i,-1):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print("*",end=" ")    
    print()
#Pattern 27

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [79]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    if(i!=1):
        print()
for i in range(2,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()
#Pattern 28

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [81]:
k='@'
for i in range(6,0,-1):
    for j in range(1,i):
        print(chr(ord(k)+j),end=' ')
    if(i!=1):
        print()
for i in range(2,6):
    for j in range(1,i+1):
        print(chr(ord(k)+j),end=' ')
    print()
#Pattern 30

A B C D E
A B C D
A B C
A B
A
A B
A B C
A B C D
A B C D E

In [33]:

for i in range(6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()
for i in range(5,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()
#Pattern 24

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [82]:
for i in range(6,0,-1):
    for j in range(1,i):
        print("*",end=' ')
    if(i!=1):
        print()
for i in range(2,6):
    for j in range(1,i+1):
        print("*",end=' ')
    print()
#Pattern 32

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

In [6]:
for i in range(1,5):
    for k in range(abs(6-i)):
        print(end='  ')
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(i-1,0,-1):
        print(j, end=' ')
    print()
#Pattern 33

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1

In [21]:
n=1
for i in range(1,6):
    for j in range(1,6):
        if n==j:
            print(i,end=" ")
        else: 
            print("0",end=" ")
    n+=1
    print()
#pattern 35

1 0 0 0 0
0 2 0 0 0
0 0 3 0 0
0 0 0 4 0
0 0 0 0 5

In [32]:
n=1
for i in range(4,0,-1):
    for j in range(1,i+1):
        print("1",end=" ")
    for k in range(0,n):
        print(n,end=" ")
    n+=1
    print()
for i in range(5):
    print("5",end=" ")
#pattern 36

1 1 1 1 1
1 1 1 2 2
1 1 3 3 3
1 4 4 4 4
5 5 5 5 5

In [33]:
n=1
z="@"
for i in range(4,0,-1):
    for j in range(1,i+1):
        print("A",end=" ")
    for k in range(0,n):
        print(chr(ord(z)+n),end=" ")
    n+=1
    print()
for i in range(5):
    print("E",end=" ")
#Pattern 37

A A A A A
A A A B B
A A C C C
A D D D D
E E E E E

In [2]:
for i in range(6):
    if i <5:
        for k in range(abs(6-i)):
            print(end=' ')
        for j in range(1, i+1):
            print(j, end=' ')
        print()
for i in range(5, 0, -1):
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1, i+1):
        print(j, end=' ')
    print()
#Pattern 38

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [3]:
c="@"
for i in range(6):
    if i <5:
        for k in range(abs(6-i)):
            print(end=' ')
        for j in range(1, i+1):
            print(chr(ord(c)+j), end=' ')
        print()
for i in range(5, 0, -1):
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1, i+1):
        print(chr(ord(c)+j), end=' ')
    print()
#Pattern 39

     A
    A B
   A B C
  A B C D
 A B C D E
  A B C D
   A B C
    A B
     A

In [4]:
for i in range(6):
    if i <5:
        for k in range(abs(6-i)):
            print(end=' ')
        for j in range(1, i+1):
            print("*", end=' ')
        print()
for i in range(5, 0, -1):
    for k in range(abs(6-i)):
        print(end=' ')
    for j in range(1, i+1):
        print("*", end=' ')
    print()
#Pattern 40

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *